- html_title "Exony Project File Loader"
%p
  %label
    Default Tracker
  = text_field_tag 'settings[tracker]', @settings['tracker'].force_encoding "UTF-8"
%p
  %label
    Alias Field for Tracker
  = text_field_tag 'settings[tracker_alias]', @settings['tracker_alias'].force_encoding "UTF-8"
